<div class="jumbotron" ng-show="show.jumbotron" ng-click="show.jumbotron=!show.jumbotron">
  <p class="lead">
    <img src="images/gitninja360.png" alt="I'm GitNinja">
  </p>
  <h1>Yo!</h1>
</div>
<div ng-hide="show.jumbotron" ng-click="show.jumbotron=!show.jumbotron" class="clearfix  text-center">
  <img src="images/gitninja360.png" alt="I'm GitNinja" style="width: 36px; height: 36px;" />
</div>
<div class="row marketing text-center">
  <p>
    I'm Rob.
  </p>
  <p>
    I have a <a href="/cv">CV</a> here but I mostly do online stuff elsewhere.
  </p>
  <ul class="list-inline">
    <li>
      <a href="https://plus.google.com/+RobThijssen/photos">
        <img ng-src="images/plus.png" />
      </a>
    </li>
    <li>
      <a href="https://twitter.com/grenade">
        <img ng-src="images/twitter.png" />
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/thijssen">
        <img ng-src="images/in.png" />
      </a>
    </li>
    <li>
      <a href="https://github.com/grenade">
        <img ng-src="images/github.png" />
      </a>
    </li>
  </ul>
</div>
