<div class="jumbotron" ng-show="show.jumbotron" ng-click="show.jumbotron=!show.jumbotron">
  <p class="lead">
    <img src="images/gitninja360.png" alt="I'm GitNinja">
  </p>
  <h1>Yo!</h1>
</div>
<div ng-hide="show.jumbotron" ng-click="show.jumbotron=!show.jumbotron" class="clearfix  text-center">
  <img src="images/gitninja360.png" alt="I'm GitNinja" style="width: 36px; height: 36px;" />
</div>
<div class="row text-center">
  <p>
    I'm Rob.
  </p>
  <p>
    I have a <a href="/cv">CV</a> here but I mostly do online stuff elsewhere.
  </p>
  <ul class="list-inline">
    <li>
      <a href="https://plus.google.com/+RobThijssen/photos">
        <img ng-src="images/plus.png" />
      </a>
    </li>
    <li>
      <a href="https://twitter.com/grenade">
        <img ng-src="images/twitter.png" />
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/thijssen">
        <img ng-src="images/in.png" />
      </a>
    </li>
    <li>
      <a href="http://stackoverflow.com/users/68115/grenade">
        <img ng-src="images/so.png" />
      </a>
    </li>
    <li>
      <a href="https://github.com/grenade">
        <img ng-src="images/github.png" />
      </a>
    </li>
    <li>
      <a href="https://mozillians.org/u/grenade">
        <img ng-src="images/mozilla.png" />
      </a>
    </li>
  </ul>
</div>
<div class="row">
  <hr />
  <div class="col-md-9">
    <p style="margin-top: 20px;" class="text-center">Some stuff I've been working on:</p>
    <ul class="timeline">
      <li ng-repeat="thing in things" ng-class-odd="'timeline-inverted'" ng-click="go(thing.url)">
        <div class="timeline-badge">
          <img ng-src="{{thing.icon}}" />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">
              {{thing.summary}}
            </h4>
            <p class="small text-muted">
              <i class="glyphicon glyphicon-time"></i>
              <span>{{thing.date | date : format : shortDate}}</span>
            </p>
          </div>
          <div class="timeline-body">
            <p ng-show="thing.description">
              {{thing.description}}
            </p>
            <ul ng-show="thing.commits">
              <li ng-repeat="commit in thing.commits">
                <span>{{commit.message}}</span>
              </li>
            </ul>
            <ul ng-show="thing.changesets">
              <li ng-repeat="changeset in thing.changesets">
                <span>{{changeset.desc}}</span>
                <ul>
                  <li ng-repeat="file in changeset.files">
                    <span>{{file}}</span>
                  </li>
                </ul>
              </li>
            </ul>
            <ul ng-show="thing.files">
              <li ng-repeat="file in thing.files">
                <span>{{file.filename}}</span>
              </li>
            </ul>
            <ul ng-show="thing.tags" class="list-inline">
              <li ng-repeat="tag in thing.tags">
                <span class="badge">{{tag}}</span>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-3">
    <a class="twitter-timeline" href="https://twitter.com/grenade" data-widget-id="631044555765190656">Tweets by @grenade</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>